Repository actorcloud/ActorCloud, pull requests merged in 2019-06, with the labels that each got.

#266 fix(package): remove pycrypto package
  server/Pipfile
Labels: server

#268 chore(package): optimize the file size after build on production mode
  ui/package.json
  ui/src/router.js
  ui/vue.config.js
  ui/yarn.lock
Labels: ui

#271 chore(accounts): optimize the images size
  ui/src/apps/accounts/assets/images/bg-large.png
  ui/src/apps/accounts/assets/images/bg-small.png
Labels: ui

#272 fix(certs): fix can't download cert in details
  ui/src/apps/devices/views/CertDetails.vue
Labels: ui

#273 fix(cert): fix create certificate return response
  server/app/services/devices/views/security.py
Labels: server

#274 fix(signup): fix personal registration failed to validate form
  ui/src/apps/accounts/views/Signup.vue
Labels: ui

#275 fix(accounts): fix translation & turn off registration form autofill
  ui/src/apps/accounts/lang/en.js
  ui/src/apps/accounts/store.js
  ui/src/apps/accounts/views/Signup.vue
  ui/src/layout/components/Topbar.vue
  ui/src/main.js
Labels: ui

#276 fix(accounts): fix input autocomplete value
  ui/src/apps/accounts/views/Signup.vue
Labels: ui

#277 fix(overview): fix message chart response
  server/app/services/base/views/overview.py
Labels: server

#278 fix(accounts): disable autofill form
  ui/src/apps/accounts/lang/en.js
  ui/src/apps/accounts/views/Signup.vue
  ui/src/layout/lang/en.js
Labels: ui

#279 docs(readme): update README
  rule-engine/actorcloud-db-sink/README.md
  rule-engine/client/src/main/java/scripts/actorcloud-db-sink-config.yml
  rule-engine/client/src/main/java/scripts/db-sink-config.yml
  rule-engine/db-sink/README.md
  rule-engine/db-sink/src/main/java/io/emqx/pulsar/io/DatabaseSink.java
  rule-engine/emqx-source/README.md
  rule-engine/mail-sink/README.md
  rule-engine/publish-sink/README.md
  rule-engine/webhook-sink/README.md
Labels: stream

#280 fix(dashboard): fix connect failed field
  ui/src/apps/accounts/views/Dashboard.vue
Labels: ui

#285 fix(script): update sink README and stream script
  rule-engine/actorcloud-db-sink/README.md
  rule-engine/client/src/main/java/scripts/stream-admin
  rule-engine/db-sink/README.md
  rule-engine/emqx-source/README.md
  rule-engine/mail-sink/README.md
  rule-engine/publish-sink/README.md
  rule-engine/webhook-sink/README.md
Labels: stream

#286 fix(config): fix pulsar-io.yaml bugs
  rule-engine/actorcloud-db-sink/src/main/resources/META-INF/services/pulsar-io.yaml
  rule-engine/db-sink/src/main/resources/META-INF/services/pulsar-io.yaml
  rule-engine/emqx-source/src/main/resources/META-INF/services/pulsar-io.yaml
  rule-engine/mail-sink/src/main/resources/META-INF/services/pulsar-io.yaml
  rule-engine/publish-sink/src/main/resources/META-INF/services/pulsar-io.yaml
  rule-engine/webhook-sink/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: stream

#289 refactor(api): modify the api to get the logo
  ui/public/index.html
  ui/src/apps/accounts/views/Login.vue
  ui/src/apps/accounts/views/Signup.vue
  ui/vue.config.js
Labels: ui

#291 refactor(backend_static): refactor backend static resources acquisition
  server/Pipfile
  server/app/services/base/schemas.py
  server/app/services/base/views/auth.py
  server/app/services/base/views/system.py
  server/config/config.yml
  server/run.py
Labels: server

#290 chore(emqx): add emqx config file
  rule-engine/client/src/main/java/scripts/actorcloud-db-sink-config.yml
  rule-engine/client/src/main/java/scripts/emqx-config.yml
  rule-engine/client/src/main/java/scripts/stream-admin
Labels: stream

#292 refactor(docker): refactor code to fit docker installation
  deploy/nginx/nginx.conf
  deploy/nginx/virtual_host.conf
  server/actor_libs/manage/supervisord/base.py
Labels: server

#293 feat(backend): add requirements.txt
  server/.gitignore
  server/requirements.txt
Labels: server

#294 fix(overview): fix admin user device count chart
  server/app/services/base/views/overview.py
Labels: server

#295 chore(config): modify stream pom config and spring config
  rule-engine/actorcloud-db-sink/pom.xml
  rule-engine/agent/pom.xml
  rule-engine/client/pom.xml
  rule-engine/client/src/main/java/scripts/agent.service
  rule-engine/client/src/main/java/scripts/stream-admin
  rule-engine/db-sink/pom.xml
  rule-engine/emqx-source/pom.xml
  rule-engine/mail-sink/pom.xml
  rule-engine/pom.xml
  rule-engine/publish-sink/pom.xml
  rule-engine/rule-function/pom.xml
  rule-engine/topic-distribute-function/pom.xml
  rule-engine/webhook-sink/pom.xml
Labels: stream

#298 fix(stream): modify stream_admin script
  rule-engine/client/src/main/java/scripts/stream-admin
Labels: stream

#297 fix(invitation): fix invitation register failed
  deploy/README.md
  deploy/rule_engine/.gitignore
  deploy/rule_engine/README.md
  server/app/services/base/models.py
  server/app/services/base/schemas.py
  server/app/services/base/views/users.py
  server/config/config.yml
Labels: server

#299 fix script bug
  rule-engine/client/src/main/java/scripts/agent.service
  rule-engine/client/src/main/java/scripts/stream-admin
Labels: stream

#300 fix(invitations): fix invitations role not translated
  ui/src/apps/accounts/views/Invitations.vue
Labels: ui

#302 fix(agent): fix agent service bug
  rule-engine/client/src/main/java/scripts/agent.service
Labels: stream

#303 feat(emqx): update device status when disconnected
  server/app/services/tasks_scheduler/async_tasks/app/emqx/callback.py
  server/app/services/tasks_scheduler/async_tasks/app/emqx/sql_statements.py
Labels: server

#305 feat(server): add server README.md
  server/README.md
Labels: server
